<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        td, th {
            outline: 2px solid black;
            margin: 10px;
            text-align: center
        }
    </style>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>User name</th>
            <th>User surname</th>
            <th>User age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td>
                <span th:text="${user.getName()}">User name</span>
            </td>
            <td>
                <span th:text="${user.getSurname()}">User surname</span>
            </td>
            <td>
                <span th:text="${user.getAge()}">User age</span>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/users}" method="post" th:object="${user}">
        <div>
            <label for="name">User name</label>
            <input id="name" type="text" th:field="*{name}" required>
        </div>
        <div>
            <label for="surname">User surname</label>
            <input id="surname" type="text" th:field="*{surname}" required>
        </div>
        <div>
            <label for="age">User age</label>
            <input id="age" th:field="*{age}" required>
        </div>
        <input type="submit" value="Add user">

    </form>
</div>
</body>
</html>